<?xml version="1.0"?>

<config>
  <modules>
	  <PAJ_GetCustomerFeedback>
		  <version>0.0.3</version>
	  </PAJ_GetCustomerFeedback>
  </modules> 
    <global>
        <blocks>
            <getcustomerfeedbackblock1>
            	<class>PAJ_GetCustomerFeedback_Block</class>
           	</getcustomerfeedbackblock1>
        </blocks>
        <helpers>
            <getcustomerfeedbackhelper1>
                <class>PAJ_GetCustomerFeedback_Helper</class>
            </getcustomerfeedbackhelper1>
        </helpers>        
        <models>
            <getcustomerfeedbackmodel1>
                <class>PAJ_GetCustomerFeedback_Model</class>
            </getcustomerfeedbackmodel1>
            <getcustomerfeedback_adminhtml>
				<class>PAJ_GetCustomerFeedback_Adminhtml_Model</class>
            </getcustomerfeedback_adminhtml>			
		</models>
	</global>
  <default>
    <getcustomerfeedback_section1>
      <general>
	   <test_mode_enabled>1</test_mode_enabled>
	   <send_alert_email>1</send_alert_email>
      </general>
    </getcustomerfeedback_section1>	
  </default>	
    <crontab>
        <jobs>
            <PAJ_GetCustomerFeedback>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>getcustomerfeedbackmodel1/observer::getcustomerfeedbackcron</model>
                </run>
            </PAJ_GetCustomerFeedback>
        </jobs>
    </crontab>		
	<frontend>
	<events>
		<checkout_onepage_controller_success_action>
			<observers>
				<getcustomerfeedbackmodel1_observer>
					<type>singleton</type>
						<class>getcustomerfeedbackmodel1/observer</class>
						<method>getCustomerFeedback</method>
				</getcustomerfeedbackmodel1_observer>
			</observers>
		</checkout_onepage_controller_success_action>
	</events>
		<translate> 
			<modules> 
				<PAJ_GetCustomerFeedback> 
					<files> 
						<default>PAJ_GetCustomerFeedback.csv</default> 
					</files> 
				</PAJ_GetCustomerFeedback> 
			</modules> 
		</translate>		
	</frontend>
	
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<getcustomerfeedback_section1 translate="title" module="getcustomerfeedbackhelper1">
											<title>Get Customer Feedback Section by PAJ</title>
											<sort_order>60</sort_order>
										</getcustomerfeedback_section1>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>